<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127662864-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-127662864-1');
    </script>

    <title>PathTrak Link</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {# Favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/wave.ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/wave.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/wave.ico/favicon-16x16.png">
    <link rel="manifest" href="/static/images/wave.ico/site.webmanifest">
    <link rel="mask-icon" href="/static/images/wave.ico/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="PathTrak Link">
    <meta name="application-name" content="PathTrak Link">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/util.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <!--===============================================================================================-->
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-input100 validate-input m-t-10 m-b-20">
                <p class="text-center p-b-10">
                    If you want to take this over, email me at tony.sherman@charter.com<br> You can also look me up in outlook and give me a call.
                </p>
                <hr>
                <p class="text-center">
                    <strong>You will need to have two main things setup to take this over.</strong><br>
                </p>
                <p class="m-l-10 m-b-20">
                    1. A virtual private server (You can rent one from Linode, Digital Ocean, Amazon Web Services, or a variety of providers for roughly $5-10/month)<br> 2. A domain name to point to the server. (You can purchase this one from me and I
                    can transfer it to you.)
                </p>
                <hr>
                <p class="text-center">
                    If you would like, I can get the code running on the server for you but after 11/27, I will not touch the server so if it breaks from some reason, that's on you to figure out.
                </p>
            </div>
        </div>


        <!--===============================================================================================-->
        <script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="/static/vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="/static/vendor/bootstrap/js/popper.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="/static/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="/static/js/main.js"></script>
</body>

</html>